.popup__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  width: 358px;
  height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding-bottom: 13px;
  box-sizing: border-box;
}

@media screen and (max-width: 709px) {
  .popup__input {
    width: 238px;
  }
}