.profile__edit-profile-button {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 15px 0 0 8px;
  background-image: url('../../../images/edit_profile_button.svg');
}

@media screen and (max-width: 709px) {
  .profile__edit-profile-button {
    background-image: url('../../../images/edit_profile_button_mobile.svg');
    width: 18px;
    height: 18px;
    margin: 8px 0 0 8px;
  }
}