.card__like-button {
  background-color: transparent;
  background-image: url('../../../images/card_like_button.svg');
  border: none;
  width: 22px;
  height: 19px;
  padding: 0;
  cursor: pointer;
  transition: opacity .2s linear;
}

.card__like-button:hover {
  opacity: .5;
}

.card__like-button:active {
  opacity: 1;
  background-image: url('../../../images/card_like_button_active.svg');  
}